body {
    margin: 0;
    font-family: 'Assistant', sans-serif !important;
    letter-spacing: 0.02em;
    font-weight: 600 !important;
    height: 100vh;
}

app-donors {
    display: block;
    height: 100%;
}

.p-component {
    font-family: 'Assistant', sans-serif !important;
    letter-spacing: 0.02em;
    direction: rtl;
}

.p-datepicker {
    direction: ltr;
}

/* p-fieldset scss:*/
.p-fieldset {
    margin: auto;
    padding: 3%;
    direction: rtl !important;
    height: 94%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    >div {
        width: 100%;
    }

    .buttons-top-left {
        width: 100%;
        display: flex;
        justify-content: left;
        gap: 8px;
        margin-bottom: 8px;

        >p-button {
            font-size: larger;
        }
    }
}

/* p-table scss:*/
.p-datatable-table {
    .th-columName {
        text-align: right;
        width: fit-content;
    }

    .td-column-btn {
        padding-left: 14px;
        padding-right: 1px;
        width: 26px;
    }
}

p-paginator {
    direction: ltr;
}

/* p-dialog scss:*/
.p-dialog {
    direction: rtl;
    text-align: right;
    justify-content: right;
}

.dialog-footer-buttons {
    display: flex;
    justify-content: left;
    direction: ltr;
    gap: 10px;
}

.p-toast {
    direction: rtl;

    .p-toast-message-content {
        gap: 15px;
    }
}

/* edit forms scss:*/
.edit-form-container {

    direction: rtl;
    margin-bottom: 2rem;

    .form-field-container {
        margin: 0 auto 16px auto;

        >label {
            display: block;
        }

        >input {
            width: 100%;
        }

        >textarea {
            width: 100%;
        }

        >p-calendar {
            width: 100%;
        }

        .p-calendar {
            width: 100%;
        }

        .p-dropdown {
            width: 100%;
        }

        .p-fileupload {
            text-align: center;

            .p-button {
                margin: auto;
                direction: ltr
            }
        }
    }
}