<form [formGroup]="donationForm" class="edit-form-container">

    <div class="field form-field-container">
        <label for="donorName">תורם</label>
        <p-dropdown id="donorName" [options]="donorOptions" formControlName="donorName" placeholder="בחר תורם"
            (onChange)="updateDonorId($event.value)" (onFocus)="onDropdownFocus()" optionLabel="label"
            optionValue="value">
            <ng-template let-options pTemplate="empty">
                <div *ngIf="donorsLoading; else noResults">
                    <p-progressBar mode="indeterminate" [style]="{ height: '5px' }"></p-progressBar>
                </div>
                <ng-template #noResults>
                    <span>אין תוצאות</span>
                </ng-template>
            </ng-template>
        </p-dropdown>

        <small class="p-error" *ngIf="donationForm.get('donorName')?.dirty && donationForm.get('donorName')?.invalid">
            תורם שדה חובה
        </small>
    </div>

    <div class="field form-field-container">
        <label for="amount">סכום</label>
        <input type="number" id="amount" pInputText id="amount" formControlName="amount" />
        <small class="p-error" *ngIf="donationForm.get('amount')?.dirty && donationForm.get('amount')?.invalid">
            סכום צריך להיות גדול מאפס
        </small>
    </div>
    <div class="field form-field-container">
        <label for="donationDate">תאריך תרומה</label>
        <!-- <input type="date" pInputText id="donationDate" formControlName="donationDate" /> -->
        <p-calendar inputId="donationDate" formControlName="donationDate" [dateFormat]="'dd-mm-yy'"
            appendTo="body"></p-calendar>
        <small class="p-error"
            *ngIf="donationForm.get('productionDate')?.dirty && donationForm.get('productionDate')?.invalid">
            תאריך תרומה שדה חובה
        </small>
    </div>

    <div class="field form-field-container">
        <label for="paymentType">אופן התרומה</label>
        <p-dropdown id="paymentType" formControlName="paymentType" [options]="paymentTypeOptions"
            placeholder="בחר אמצעי תשלום" [appendTo]="'body'" (onChange)="updatePaymentType($event.value)">
        </p-dropdown>
    </div>

    <div class="field form-field-container">
        <label for="notes">הערות</label>
        <textarea id="notes" formControlName="notes" [rows]="2" pInputTextarea [autoResize]="false"></textarea>
    </div>

</form>

<div class="dialog-footer-buttons">
    <button pButton pRipple (click)="cancel()" pTooltip="ביטול" tooltipPosition="bottom">
        <i class="pi pi-times"></i>
    </button>
    <button pButton pRipple (click)="saveDonation()" pTooltip="שמור" tooltipPosition="bottom"
        [disabled]="donationForm.invalid">
        <i class="pi pi-check"></i>
    </button>
</div>