<!-- <p-messages ngClass="msg-action" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" /> -->
<p-toast position="bottom-left" />

<p-fieldset legend="תרומות">
    <div class="buttons-top-left">
        <p-button icon="pi pi-plus-circle" (onClick)="openDonationForm()" pTooltip="הוספת תרומה"
            tooltipPosition="bottom" />
        <p-button icon="pi pi-trash" [disabled]="!selectedDonations.length" (onClick)="confirmDeleteSelDonations()"
            pTooltip="מחיקת תרומות" tooltipPosition="bottom" />
    </div>
    <p-table [value]="donationList" styleClass="p-datatable-striped" [paginator]="true" [rows]="rows"
        [resizableColumns]="true" columnResizeMode="expand" sortField="fullName" [sortOrder]="1"
        selectionMode="multiple" [(selection)]="selectedDonations" [metaKeySelection]="metaKey"
        dataKey="donation.donationId" [globalFilterFields]="['fullName', 'email', 'address', 'phon']"
        [scrollable]="true" scrollHeight="300px">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="th-columName">
                    <p-tableHeaderCheckbox />
                </th>
                <th pSortableColumn="donation.donationId" class="th-columName">
                    מספר תרומה
                    <p-sortIcon field="donation.donationId" />
                    <p-columnFilter type="number" field="donation.donationId" display="menu" [showMatchModes]="false"
                        matchMode="contains" [showOperator]="false" [showButtons]="false" [showAddButton]="false" />
                </th>
                <th pSortableColumn="donorName" class="th-columName">
                    נתרם ע"י
                    <p-sortIcon field="donorName" />
                    <p-columnFilter type="text" field="donorName" display="menu" [showMatchModes]="false"
                        matchMode="contains" [showOperator]="false" [showButtons]="false" [showAddButton]="false" />
                </th>
                <th pSortableColumn="donation.donationDate" class="th-columName">
                    התקבל בתאריך
                    <p-sortIcon field="donation.donationDate" />
                    <!-- <p-columnFilter type="date" field="donation.donationDate" display="menu" [showMatchModes]="false"
                        matchMode="contains" [showOperator]="false" [showButtons]="false" [showAddButton]="false" /> -->
                </th>
                <th pSortableColumn="donation.amount" class="th-columName">
                    סכום
                    <p-sortIcon field="donation.amount" />
                    <!-- <p-columnFilter type="text" field="donation.amount" display="menu" [showMatchModes]="false"
                        matchMode="contains" [showOperator]="false" [showButtons]="false" [showAddButton]="false" /> -->
                </th>
                <th pSortableColumn="donation.paymentType" class="th-columName">
                    נתרם באמצעות
                    <p-sortIcon field="donation.paymentType" />
                    <!-- <p-columnFilter type="text" field="donation.paymentType" display="menu" [showMatchModes]="false"
                        matchMode="contains" [showOperator]="false" [showButtons]="false" [showAddButton]="false" /> -->
                </th>
                <th pSortableColumn="donation.notes" class="th-columName">
                    הערות
                    <p-sortIcon field="donation.notes" />
                    <p-columnFilter type="text" field="donation.notes" display="menu" [showMatchModes]="false"
                        matchMode="contains" [showOperator]="false" [showButtons]="false" [showAddButton]="false" />
                </th>
                <th class="th-columName td-column-btn">
                    קבלה
                </th>
                <th class="th-columName td-column-btn">
                    <p-button hidden="true"></p-button>
                </th>
                <th class="th-columName td-column-btn">
                    <p-button hidden="true"></p-button>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-donationWithDonorName>
            <tr>
                <td class="th-columName">
                    <p-tableCheckbox [value]="donationWithDonorName" />
                </td>
                <td class="th-columName">{{ donationWithDonorName.donation.donationId }}</td>
                <td class="th-columName">{{ donationWithDonorName.donorName }}</td>
                <td class="th-columName">{{ donationWithDonorName.donation.donationDate |date: 'dd/MM/yyyy' }}</td>
                <td class="th-columName">{{ donationWithDonorName.donation.amount }}</td>
                <td class="th-columName">{{ donationWithDonorName.donation.paymentType | paymentTypeLabel }}</td>
                <td class="th-columName">{{ donationWithDonorName.donation.notes }}</td>
                <td class="th-columName td-column-btn">
                    <p-button icon="pi pi-file-plus" [rounded]="false" [outlined]="false" size="small"
                        (onClick)="openReceiptForm($event,donationWithDonorName, op)" pTooltip="קבלה"
                        tooltipPosition="bottom" />
                    <!-- <i pRipple class="pi pi-file-plus"></i> -->
                </td>
                <td class="th-columName td-column-btn">
                    <p-button icon="pi pi-pencil" [rounded]="true" [outlined]="true"
                        (onClick)="openDonationForm(donationWithDonorName)" size="small" pTooltip="עריכה"
                        tooltipPosition="bottom" />
                </td>
                <td class="th-columName td-column-btn">
                    <p-button icon="pi pi-minus-circle" [rounded]="true" [outlined]="true" size="small"
                        (onClick)="confirmDeleteDonation(donationWithDonorName)" pTooltip="מחיקה"
                        tooltipPosition="bottom" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-fieldset>

<app-confirm-dialog [visible]="showConfirmDialog" [data]="deleteConfirmDialogData" (accept)="onAcceptConfirmDialog()"
    (reject)="onRejectConfirmDialog()" [onAcceptAction]="onAcceptConfirmDialogAction">
</app-confirm-dialog>

<p-overlayPanel #op (onHide)="removeFile()" [showCloseIcon]="true">
    <div *ngIf="isFileLoading" class="loading-overlay">
        <div class="spinner"></div>
    </div>
    <div class="op-container">
        <div *ngIf="!fileName">
            <div class="icon-text">
                <i class="pi pi-file file-icon"></i>
                <span class="no-file">לא קיים קובץ</span>
            </div>
            <div class="btn-con">
                <p-button [outlined]="true" class="blue-btn" icon="pi pi-file-plus" (click)="fileInput.click()"
                    pTooltip="העלה קובץ"></p-button>
                <input #fileInput type="file" (change)="onFileUpload($event)" hidden />
                <p-button [outlined]="true" class="blue-btn" icon="pi pi-save"
                    [disabled]="donationWithDonorName.donation.file == null" (click)="saveFile($event,op)"
                    pTooltip="שמור קובץ"></p-button>
                <p-button [outlined]="true" class="blue-btn" icon="pi pi-trash"
                    [disabled]="!donationWithDonorName.donation.fileId" (click)="confirmDeleteDonationFile($event,op)"
                    pTooltip="מחק קובץ"></p-button>
            </div>
        </div>
        <div *ngIf="fileName">
            <div class="icon-text">
                <i class="pi pi-file file-icon"></i>
                <span pTooltip="הצג קובץ" class="file-name" (click)="viewFile()">
                    {{fileName}}
                </span>
                <span pTooltip="הצג קובץ" class="file-size" (click)="viewFile()">
                    {{fileSize}}
                </span>
            </div>
            <div class="btn-con">
                <p-button [outlined]="true" class="blue-btn" icon="pi pi-pencil" (click)="fileInput.click()"
                    pTooltip="שנה קובץ"></p-button> <input #fileInput type="file" (change)="onFileUpload($event)"
                    hidden />
                <p-button icon="pi pi-save" [outlined]="true" class="blue-btn"
                    [disabled]="donationWithDonorName.donation.file == null || !isFileChange"
                    (click)="saveFile($event,op)" pTooltip="שמור"></p-button>
                <p-button icon="pi pi-trash" [outlined]="true" class="blue-btn"
                    (click)="confirmDeleteDonationFile($event,op)" pTooltip="מחק קובץ"
                    [disabled]="!donationWithDonorName.donation.fileId">
                </p-button>
                <!-- <p-button icon="pi pi-email" [outlined]="true" class="blue-btn"
                    [disabled]="donationWithDonorName.donation.file == null" (click)="saveFile($event,op)"
                    pTooltip="שלח לתורם"></p-button> -->
            </div>
        </div>
    </div>
</p-overlayPanel>