<h1>Welcome to the Dashboard</h1>
<p *ngIf="userData">Hello, {{ userData.userData.username}}</p>
<p *ngIf="!userData">Loading user data...</p>

<div class="app-layout">
    <app-header-bar class="app-header">
    </app-header-bar>
    <!-- Ma     in Content -->
    <div class="app-main">
        <!-- Router Outlet -->
        <div class="app-content">
            <router-outlet></router-outlet>
        </div>
        <!-- Right-side Menu -->
        <!-- <p-button (onClick)="op.toggle($event)" icon="pi pi-bars" /> -->
        <div class="app-menu" #sideMane>
            <app-side-menu></app-side-menu>
        </div>
    </div>
</div>