<!-- <h1>Welcome to the Dashboard</h1>
<p *ngIf="userData">Hello, {{ userData.userData.username}}</p>
<p *ngIf="!userData">Loading user data...</p> -->

<div class="dash-layout">

    <div class="dash-header">
        <app-header-bar>
        </app-header-bar>
    </div>

    <div class="dash-main">

        <div class="dash-content">
            <router-outlet></router-outlet>
        </div>

        <div class="dash-side" [class.side-collapsed]="isMenuCollapsed">
            <app-side-menu (toggleMenu)="onToggleMenu($event)"></app-side-menu>
        </div>
        <!-- <div class="dash-side side-absolute" #sideMane>
            <app-side-menu></app-side-menu>
        </div> -->
    </div>

</div>