<!-- <p-toast /> -->
<p-fieldset legend="פרטי תורמים">
    <div class=buttons-top-container>
        <span class="left-buttons">
            <p-button type="button" icon="pi pi-user-plus" (onClick)="openNewDonor()" styleClass="p-button-text"
                size="large" />
            <p-button type="button" icon="pi pi-trash" [disabled]="!selectedDonors?.length"
                (onClick)="deleteSelectedDonors()" styleClass="p-button-text" size="large" />
        </span>
    </div>

    <p-messages ngClass="msg-action" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" />

    <p-table [value]="donorList" styleClass="p-datatable-striped" [paginator]="true" [rows]="rows"
        [resizableColumns]="true" columnResizeMode="expand" sortField="fullName" [sortOrder]="1"
        selectionMode="multiple" [(selection)]="selectedDonors" [metaKeySelection]="metaKey" dataKey="id"
        [globalFilterFields]="['fullName', 'email', 'address', 'phon']" [scrollable]="true" scrollHeight="400px"
        (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="th-columName">
                    <p-tableHeaderCheckbox />
                </th>
                <th style="display: none">תז</th>
                <th pSortableColumn="fullName" class="th-columName">
                    שם
                    <p-sortIcon field="fullName" />
                    <p-columnFilter type="text" field="fullName" display="menu" [showMatchModes]="false"
                        matchMode="contains" [showOperator]="false" [showButtons]="false" [showAddButton]="false" />
                </th>
                <th pSortableColumn="email" class="th-columName">
                    מייל
                    <p-sortIcon field="email" />
                    <p-columnFilter type="text" field="email" display="menu" [showMatchModes]="false"
                        matchMode="contains" [showOperator]="false" [showButtons]="false" [showAddButton]="false" />
                </th>
                <th pSortableColumn="address" class="th-columName">
                    כתובת
                    <p-sortIcon field="address" />
                    <p-columnFilter type="text" field="address" display="menu" [showMatchModes]="false"
                        matchMode="contains" [showOperator]="false" [showButtons]="false" [showAddButton]="false" />
                </th>
                <th pSortableColumn="phone" class="th-columName">
                    טלפון
                    <p-sortIcon field="phone" />
                    <p-columnFilter type="text" field="phone" display="menu" [showMatchModes]="false"
                        matchMode="contains" [showOperator]="false" [showButtons]="false" [showAddButton]="false" />
                </th>
                <th class="th-columName">
                    <p-button hidden="true"></p-button>
                </th>
                <th class="th-columName">
                    <p-button hidden="true"></p-button>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-donor>
            <tr>
                <td class="th-columName">
                    <p-tableCheckbox [value]="donor" />
                </td>
                <td style="display: none">{{ donor.id }}</td>
                <td class="th-columName">{{ donor.fullName }}</td>
                <td class="th-columName">{{ donor.email }}</td>
                <td class="th-columName">{{ donor.address }}</td>
                <td class="th-columName">{{ donor.phone }}</td>
                <td class="th-columName td-column-btn">
                    <p-button icon="pi pi-user-edit" [rounded]="true" [outlined]="true" (onClick)="editDonor(donor) "
                        size="small" />
                </td>
                <td class="th-columName td-column-btn">
                    <p-button icon="pi pi-user-minus" [rounded]="true" [outlined]="true" size="small"
                        (onClick)="deleteDonor(donor) " />
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-fieldset>


<p-dialog [(visible)]="donorDialog" [style]="{ width: '450px' }" header="פרטי תורם" [modal]="true" styleClass="p-fluid">
    <form [formGroup]="donorDetailsForm">

        <div class="field dialog-field">
            <label for="fullName">שם</label>
            <input type="text" pInputText id="fullName" formControlName="fullNameControl" />
            <small class="p-error" *ngIf="submitted && !fullNameControl.value">
                שם שדה חובה
            </small>
        </div>
        <div class="field dialog-field">
            <label for="email">מייל</label>
            <input type="email" pInputText id="email" formControlName="emailControl" />
            <small class="p-error" *ngIf="(emailControl.invalid && emailControl.value)">
                כתובת מייל אינה חוקית
            </small>
        </div>
        <div class="field dialog-field">
            <label for="address">כתובת</label>
            <input type="text" pInputText id="address" formControlName="addressControl" />
            {{addressControl.value}}
        </div>
        <div class="field dialog-field">
            <label for="phone">טלפון</label>
            <input type="phone" pInputText id="phone" formControlName="phoneControl" />
            <small class="p-error" *ngIf="(phoneControl.invalid && phoneControl.value)">
                מספר טלפון אינו תקין
            </small>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <div class="dialog-footer-buttons">
            <p-button label="שמירה" icon="pi pi-check" (onClick)="saveDonor()" [disabled]="donorDetailsForm.invalid" />
            <p-button label="ביטול" icon="pi pi-times" (onClick)="hideDialog()" />
        </div>
    </ng-template>

</p-dialog>
<p-confirmDialog #cd>
    <ng-template pTemplate="headless" let-message>
        <div class="confirm-delete-dialog-container">
            <div class="confirm-delete-dialog-i-contain">
                <i class="pi pi-question text-5xl"></i>
            </div>
            <span class="">
                {{ message.header }}
            </span>
            <p>{{ message.message }}</p>
            <div>
                <p-button [label]="message.acceptLabel" (click)="cd.accept()" class="confirm-delete-dialog-btn">
                </p-button>
                <p-button [label]="message.rejectLabel" [outlined]="true" (click)="cd.reject()"
                    class="confirm-delete-dialog-btn">
                </p-button>
            </div>
        </div>
    </ng-template>
</p-confirmDialog>