<p-toast position="bottom-right" />
<div class="app-donors-contaner">
    <p-fieldset legend="תורמים">
        <div class="buttons-top-left">
            <p-button icon="pi pi-user-plus" (onClick)="openDonorForm()" pTooltip="הוספת תורם"
                tooltipPosition="bottom" />
            <p-button icon="pi pi-trash" [disabled]="!selectedDonors?.length" (onClick)="confirmDeleteSelDonors()"
                pTooltip="מחיקת תורמים" tooltipPosition="bottom" />
        </div>

        <p-table [value]="donorList" styleClass="p-datatable-striped" [paginator]="true" [rows]="rows"
            [resizableColumns]="true" columnResizeMode="expand" sortField="fullName" [sortOrder]="1"
            selectionMode="multiple" [(selection)]="selectedDonors" [metaKeySelection]="metaKey" dataKey="donorId"
            [globalFilterFields]="['fullName', 'email', 'address', 'phon']" [scrollable]="true" scrollHeight="400px"
            (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="th-columName">
                        <p-tableHeaderCheckbox />
                    </th>
                    <th pSortableColumn="fullName" class="th-columName">
                        שם
                        <p-sortIcon field="fullName" />
                        <p-columnFilter type="text" field="fullName" display="menu" [showMatchModes]="false"
                            matchMode="contains" [showOperator]="false" [showButtons]="false" [showAddButton]="false" />
                    </th>
                    <th pSortableColumn="email" class="th-columName">
                        מייל
                        <p-sortIcon field="email" />
                        <p-columnFilter type="text" field="email" display="menu" [showMatchModes]="false"
                            matchMode="contains" [showOperator]="false" [showButtons]="false" [showAddButton]="false" />
                    </th>
                    <th pSortableColumn="address" class="th-columName">
                        כתובת
                        <p-sortIcon field="address" />
                        <p-columnFilter type="text" field="address" display="menu" [showMatchModes]="false"
                            matchMode="contains" [showOperator]="false" [showButtons]="false" [showAddButton]="false" />
                    </th>
                    <th pSortableColumn="phone" class="th-columName">
                        טלפון
                        <p-sortIcon field="phone" />
                        <p-columnFilter type="text" field="phone" display="menu" [showMatchModes]="false"
                            matchMode="contains" [showOperator]="false" [showButtons]="false" [showAddButton]="false" />
                    </th>
                    <th class="th-columName td-column-btn">
                        <p-button hidden="true"></p-button>
                    </th>
                    <th class="th-columName td-column-btn">
                        <p-button hidden="true"></p-button>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-donor>
                <tr>
                    <td class="th-columName">
                        <p-tableCheckbox [value]="donor" />
                    </td>
                    <td class="th-columName">{{ donor.fullName }}</td>
                    <td class="th-columName">{{ donor.email }}</td>
                    <td class="th-columName">{{ donor.address }}</td>
                    <td class="th-columName">{{ donor.phone }}</td>
                    <td class="th-columName td-column-btn">
                        <p-button icon="pi pi-user-edit" [rounded]="true" [outlined]="true"
                            (onClick)="openDonorForm(donor) " size="small" />
                    </td>
                    <td class="th-columName td-column-btn">
                        <p-button icon="pi pi-user-minus" [rounded]="true" [outlined]="true" size="small"
                            (onClick)="confirmDeleteDonor(donor)" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-fieldset>
</div>

<app-confirm-dialog [visible]="showConfirmDialog" [data]="deleteConfirmDialogData" (accept)="onAcceptConfirmDialog()"
    (reject)="onRejectConfirmDialog()" [onAcceptAction]="onAcceptConfirmDialogAction">
</app-confirm-dialog>