<p-fieldset legend="קבלות">
    <div class="buttons-top-left">
        <p-button icon="pi pi-file-plus" (onClick)="openReceiptsForm()" pTooltip="הוספת קבלה"
            tooltipPosition="bottom" />
        <p-button icon="pi pi-trash" [disabled]="!selectedReceipts.length" (onClick)="deleteSelectedReceipts()"
            pTooltip="מחיקת קבלות" tooltipPosition="bottom" />
    </div>

    <p-messages ngClass="msg-action" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" />

    <p-table [value]="receiptsList" styleClass="p-datatable-striped" [paginator]="true" [rows]="rows"
        [resizableColumns]="true" columnResizeMode="expand" sortField="receiptDto.receiptId" [sortOrder]="1"
        selectionMode="multiple" [(selection)]="selectedReceipts" [metaKeySelection]="metaKey"
        dataKey="receiptDto.receiptId" [scrollable]="true" scrollHeight="400px">

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="th-columName">
                    <p-tableHeaderCheckbox />
                </th>
                <th pSortableColumn="receiptDto.receiptId" class="th-columName">
                    מספר קבלה
                    <p-sortIcon field="receiptDto.receiptId" />
                </th>
                <th pSortableColumn="receiptDto.donationId" class="th-columName">
                    מספר תרומה
                    <p-sortIcon field="receiptDto.donationId" />
                </th>
                <th pSortableColumn="receiptDto.receiptProductionDate" class="th-columName">
                    תאריך הפקה
                    <p-sortIcon field="receiptDto.receiptProductionDate" />
                </th>
                <th class="th-columName">
                    קובץ
                </th>
                <th class="th-columName td-column-btn">
                    <p-button hidden="true"></p-button>
                </th>
                <th class="th-columName td-column-btn">
                    <p-button hidden="true"></p-button>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-receipt>
            <tr>
                <td class="th-columName">
                    <p-tableCheckbox [value]="receipt" />
                </td>
                <td class="th-columName">{{ receipt.receiptDto.receiptId }}</td>
                <td class="th-columName">{{ receipt.receiptDto.donationId }}</td>
                <td class="th-columName">{{ receipt.receiptDto.receiptProductionDate |date: 'dd/MM/yyyy' }}</td>
                <td class="th-columName">
                    <p-button icon="pi pi-file" (onClick)="previewFile(receipt)" size="small" pTooltip="צפייה"
                        tooltipPosition="bottom" />
                </td>
                <td class="th-columName td-column-btn">
                    <p-button icon="pi pi-pencil" [rounded]="true" [outlined]="true"
                        (onClick)="openReceiptsForm(receipt)" size="small" pTooltip="עריכה" tooltipPosition="bottom" />
                </td>
                <td class="th-columName td-column-btn">
                    <p-button icon="pi pi-minus-circle" [rounded]="true" [outlined]="true" size="small"
                        (onClick)="openReceiptsForm(receipt)" pTooltip="מחיקה" tooltipPosition="bottom" />
                </td>
            </tr>
        </ng-template>
    </p-table>

</p-fieldset>
<!-- <input pInputText type="file" (change)="onFileSelected($event)"> -->