<div class="side-container">
    <button pRipple class="toggle-btn" (click)="toggleMenuState()">
        <i *ngIf="isCollapsed" class="pi pi-chevron-circle-left"></i>
        <i *ngIf="!isCollapsed" class="pi pi-chevron-circle-right"></i>
    </button>
    <div class="menu-container">
        <a pRipple *ngFor="let item of menuItems" [routerLink]="item.route" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" class="item-container">
            <i [class]="item.icon" class="icon" [class.collapsed]="isCollapsed"></i>
            <span *ngIf="!isCollapsed" class="label" [class.collapsed]="isCollapsed">{{ item.label }}</span>
        </a>
    </div>
</div>
<!-- <div *ngFor="let item of menuItems" [class.active]="isActive(item.url)" class="item-container"
    (click)="navigateTo(item.url)"> -->
<!-- <p-button icon="pi pi-bars" *ngIf="isOpen" class="toggle-sidebar-btn" (click)="onToggle()"></p-button> -->