<div class="side-container">
    <button pRipple class="toggle-btn" (click)="toggleMenuState()">
        <i *ngIf="isCollapsed" class="pi pi-chevron-left"></i>
        <i *ngIf="!isCollapsed" class="pi pi-chevron-right"></i>
    </button>
    <div class="menu-container">
        <a pRipple *ngFor="let item of menuItems" [routerLink]="item.route" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" class="item-container">
            <i [class]="item.icon" class="icon" [class.collapsed]="isCollapsed"></i>
            <span *ngIf="!isCollapsed" class="label" [class.collapsed]="isCollapsed">{{ item.label }}</span>
        </a>
    </div>
</div>